/* variables for colors */
:root {
  --purple: #7986CB;
  --white: #fafafa;
  --black: #424242;
}

body {
  background-color: var(--white);
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
  color: var(--white);
}

h1 {
  color: var(--purple);
  font-size: 2rem;
  font-weight: lighter;
}

#search-bar-box {
  width: 30rem;
  height: 2rem;
  display: block;
  margin: auto;
  padding: 2rem;
}

input {
  width: 30rem;
  height: 2rem;
  color: var(--purple);
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--purple);
  background: transparent;
}

input::-webkit-input-placeholder {
  color: var(--purple);
  opacity: 0.8;
}

/* style for search icon */
#search-icon {
  float: right;
  color: var(--purple);
  margin-top: 0.75rem;
  font-size: 1.5rem;
}

button {
    color: var(--white);
    font-size: 1rem;
    display: inline-block;
    background: var(--purple);
    margin: 0 0.1rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    outline: none;
    cursor: pointer;
    border: 2px solid var(--purple);
}

#random-btn {
  background: var(--white);
  font-weight: bold;
}

#search-btn:hover, #random-btn:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

/* styles for hyperlinks*/
a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: var(--purple);
}

/* active link */
a:active {
  color: var(--purple);
}

/* visited link */
a:visited {
  color: var(--purple);
}

/* style for search results */
.results {
  width: auto;
  height: auto;
  font-size: 1rem;
  line-height: 1.75rem;
  margin: 1rem auto;
  padding: 0.5% 2%;
  position: relative;
  text-align: left;

}

.results:hover {
  background: var(--purple);
  color: var(--white);
}

#result-list {
  margin-top: 3rem;
}

/* media queries */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}
